<div class="row">
  <div class="col-md-10">
    <div class="row">
      <h4>Messages list</h4>
      <div id="Inbox"></div>
    </div>
    <div class="row">
      <h4>Content</h4>
    </div>
  </div>
</div>

